<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    {% load static %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
  <div class="user_background" >
      <div class="loginhead">
      <h2 class="spot">Travel Spot</h2>
      <div class="loginanchor">
      <a href="/">HOME</a>
      <a href="/" >ABOUT</a>
      <a href="/" >CONTACT</a>
      </div>
    </div>
  </div>
    <div class="login">
      <h3>Login</h3>
      <hr class="loginhr">
      <form action='/login' method='post'>
        {% csrf_token %}
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" name="email" class="form-control">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" class="form-control">
        </div>
        <button type="submit" class="loginbutton">Login</button>
      </form>
      <p>Don't have an account? <a href="/register">Sign Up</a></p>
    </div>
</body>
</html>